meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Prestadores y redes de servicio en salud.
meta(meta name="description" content="En este componente formativo se abordan los conocimientos de la competencia de admisión a los usuarios en salud, en la cual se realiza un recorrido por la normatividad de en servicios de salud, en donde no solo se revisan leyes, resoluciones y decretos vigentes en nuestro país; sino también la descripción en detalle de las redes integrales prestadoras de servicios de salud y el sistema de incentivos que las empresas del sector legalmente otorgan a sus empleados.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")