h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 230101280 – 03. Tramitar la información de la persona admitida de acuerdo con normativa, políticas institucionales, acuerdos contractuales y códigos éticos vigentes.
            li
                span 230101280 – 04. Implementar planes de mejoramiento en los procesos administrativos de admisión según hallazgos, delegación, protocolos institucionales y normativa vigente.
