h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Resolución 5261 de 1994, Establece el Manual de Actividades, Intervenciones y Procedimientos del Plan Obligatorio de Salud en el Sistema General de Seguridad Social en Salud', 'main.html#page/resolucion_5261/')
                    +navTemaItem('2', 'Resolución 537 de 2020 y sus anexos. Se modifica la resolución 3495 de 2019 clasificación única de procedimientos en salud-CUPS', 'main.html#page/resolucion_537/')
                    +navTemaItem('3', 'Resolución 1531 de 2014 modifica a la Resolución 3347 de 2000. Reglamentan los datos básicos que deben reportar los prestadores de servicios de salud y las entidades administradoras de planes de beneficios sobre los servicios de salud prestados', 'main.html#page/resolucion_1531/')
                    +navTemaItem('4', 'Terminología medicoquirúrgica', 'main.html#page/medicoquirurguica/')
                    +navTemaItem('5', 'Códigos CIE 10', 'main.html#page/cie/')
                    +navTemaItem('6', 'El sistema de incentivos como herramienta para el mejoramiento de la productividad empresarial', 'main.html#page/sistemas_de_incentivos/')
                    +navTemaItem('7', 'Redes Integrales de prestadores de servicios de salud Lineamientos para el Proceso de Conformación, Organización, Gestión, Seguimiento y Evaluación', 'main.html#page/redes_integrales/')
                    +navTemaItem('8', 'Rutas integrales de atención en salud – RIAS', 'main.html#page/rutas_integrales/')                                                            
                                       