.container
    .header-ecored
        h1 1. Resolución 5261 de 1994, Establece el Manual de Actividades, Intervenciones y Procedimientos del Plan Obligatorio de Salud en el Sistema General de Seguridad Social en Salud
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img1.svg").img-fluid      
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img2.svg").img-fluid
            .col
                h3 LIBRO I. Manual de actividades, intervenciones y procedimientos         

        nav.nav-tab-ecored.my-5
            #nav-tab.nav.nav-tabs(role='tablist')
                a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                    strong Capítulo I 
                a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                    strong Capítulo II 
                a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                    strong Capítulo III 
                a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                    strong Capítulo IV 
                a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                    strong Capítulo V  
                a#nav-06-tab.nav-item.nav-link(data-toggle='tab', href='#nav-06', role='tab', aria-controls='nav-06', aria-selected='false') 
                    strong Capítulo V                      

            #nav-tabContent.tab-content
                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            h3 CAPITULO I. DISPOSICIONES GENERALES

                    .jumbotron.bg-color-4.mt-5                          
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 1o. Centros de atención.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 2o. Disponibilidad del servicio y acceso a los niveles de complejidad.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 3o. Utilización de servicios por municipio y zona de residencia.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 4o. Identificación e inscripción de los afiliados. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 5o. Consulta médica general o paramédica.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 6o. Inscripción obligatoria en las guías de atención integral. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 7o. Consulta médica especializada. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 8o. Asistencia domiciliaria. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 9o. Urgencia. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 10. Atención de urgencias.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 11. Internación. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 12. Utilización de prótesis, ortesis, aparatos y aditamentos ortopédicos o para alguna función biológica.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 13. Formulación y despacho de medicamentos. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 14. Reconocimiento de reembolsos. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 15. Afiliación a una empresa promotora de salud.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 16. Enfermedades ruinosas o catastróficas. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 17. Tratamiento para enfermedades ruinosas o catastróficas
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 18. De las exclusiones y limitaciones del plan obligatorio de salud.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 19. Evaluación medico científica. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 20. Responsabilidades por niveles de complejidad. 
                        .list.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p NIVEL I 
                        .list.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p NIVEL II 
                        .list.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p NIVEL III y IV
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 21. Clasificación por niveles de complejidad para la atención medico quirúrgica. 
                        .list.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p NIVEL I: Grupos 01, 02, 03.
                        .list.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p NIVEL II: Grupos 04, 05, 06, 07, 08.
                        .list.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p NIVEL III: Grupos 09 y siguientes.
                        .list.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p NIVEL IV: Se establece de acuerdo con el procedimiento practicado en las patologías catastróficas descritas anteriormente.

                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            h3 Capitulo II. Definiciones y contenidos de las actividades, intervenciones y procedimientos contemplados en el plan obligatorio de salud

                    .jumbotron.bg-color-2.mt-5  

                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 22. Definiciones para determinar la calidad de los servicios.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 23. Definiciones para la aplicación del manual.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 24. La consulta prequirúrgica y los controles postoperatorios intrahospitalarios y ambulatorios.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 25. De cuando no hay derecho a pago de interconsulta.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 26. El tratamiento de las quemaduras.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 27. Del reconocimiento cuando se trate de repetir una intervención sobre un mismo órgano.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 28. Definición de unidad de cuidados intensivos.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 29. Pacientes que se admitirán en la unidad de cuidados intensivos.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 30. Casos que no serán admitidos en la unidad de cuidados intensivos.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 31. Definición de unidad de quemados, para cuidado intensivo.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 32. Definición de unidad de quemados, para cuidado intermedio.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 33. Tratamiento para paciente crónico que sufre proceso patológico incurable.



                #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt
                            h3 Capitulo III. Servicios con internacion estancias, servicios profesionales, derechos de sala, materiales, suministros y equipos
                 
                    .jumbotron.bg-color-4.mt-5 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 34. Sobre la contratación de servicios. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 35. Servicios que comprende la estancia para intermediación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 36. Que se entiende por material de curación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 37. Servicios adicionales que comprende la estancia en instituciones psiquiátricas y otras.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 38. Servicios adicionales que comprende la estancia en instituciones para el cuidado del paciente crónico somático.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 39. Servicios adicionales que comprende la estancia en unidad de trasplante.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 40. Servicios adicionales que comprende la estancia en la unidad de cuidados intensivos.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 41. Servicios adicionales que comprende la estancia en la unidad de quemados.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 42. Clasificación que se tendrá en cuenta para el reconocimiento de las estancias.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 43. Estancia que reconocer a sus afiliados el plan obligatorio de salud.

                #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt
                            h3 CAPITULO IV. SERVICIOS PROFESIONALES, DERECHOS DE SALA, MATERIALES SUMINISTROS, EQUIPOS Y REHABILITACION INTEGRAL.
                    .jumbotron.bg-color-2.mt-5 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 44. Sobre los servicios profesionales distintos a los que comprende la estancia.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 45. Actividades para la atención de pacientes en el servicio de urgencias.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO  46. se establecen los derechos de sala de cirugía de acuerdo con los mismos criterios y grupos definidos en el artículo 11.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 47. Los derechos de sala de recuperación comprenden: la dotación básica, los equipos sus accesorios e implementos, ropas reutilizables o desechables y los servicios de enfermería y de personal profesional en anestesia. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 48. En los procedimientos ortopédicos que se practiquen, se reconocerá el valor como derecho de sala de yesos si se realizan en una sala dotada para tal fin. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 49. Los medicamentos y soluciones que se prescriban para el tratamiento del paciente sean de uso hospitalario o ambulatorio, deberán ceñirse estrictamente a lo definido en el manual de medicamentos y terapéutica establecido por el plan obligatorio de salud. 
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 50. En los servicios de la unidad de nefrología, para hemodiálisis o diálisis peritoneal por sesión se incluyen como derechos de sala.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 51. Se clasifican dentro de la atención ambulatoria.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 52. Se clasifican como actividades de control y seguimiento en las Guías de Atención Integral a grupos específicos.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 53. Se clasifican como actividades de promoción y fomento de la salud.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 54. El paciente psiquiátrico se manejará preferencialmente en el programa de "HOSPITAL DE DIA".
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 55. Cuando se requiera la movilización de pacientes en ambulancia.

                #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt
                            h3 CAPITULO V. ACTIVIDADES Y PROCEDIMIENTOS MEDICO-QUIRURGICOS, NOMENCLATURA Y CLASIFICACION
                    
                    .jumbotron.bg-color-4.mt-5         
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 56. Señálese para las intervenciones quirúrgicas en la especialidad de Neurocirugía (01), la siguiente nomenclatura y clasificación. (En esta parte debe tener en cuenta que se clasifica de forma cefalocaudal).
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 57. Señálese para las intervenciones quirúrgicas de Oftalmología (02), la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 58. Señalase para las intervenciones quirúrgicas de Otorrinolaringología, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 59. Definir para las intervenciones quirúrgicas de las glándulas Tiroides y Paratiroides, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 60. Definir para las intervenciones quirúrgicas cardiovasculares, la siguiente nomenclatura clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 61. Definir para las intervenciones quirúrgicas del tórax, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 62. Definir para las intervenciones quirúrgicas abdominales, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 63. Definir para las intervenciones quirúrgicas de Proctología, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 64. Definir para las intervenciones quirúrgicas de Urología y Nefrología, la siguiente nomenclatura y clasificación
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 65. Definir para las intervenciones quirúrgicas de la Mama, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 66. Definir para las intervenciones de Ginecología, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 67. Definir para las intervenciones quirúrgicas y procedimientos de Obstetricia, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 68. Definir para las intervenciones quirúrgicas y procedimientos de Ortopedia y Traumatología, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 69. Definir para las intervenciones quirúrgicas y procedimientos en la especialidad de Cirugía de mano, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 70. Definir para las intervenciones quirúrgicas de la especialidad de Cirugía Plástica, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 71. Definir para las intervenciones quirúrgicas y procedimientos de las especialidades de Cirugía Oral y Maxilo-Facial y Dental, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 72. Definir para las intervenciones de toma de Biopsias, la siguiente nomenclatura y clasificación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 73. Definir para los procedimientos de Endoscopia, Diagnóstica y Terapéutica, la siguiente nomenclatura y clasificación.

                #nav-06.tab-pane.fade(role='tabpanel', aria-labelledby='nav-06-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt
                            h3 CAPITULO VI. ACTIVIDADES, INTERVENCIONES Y PROCEDIMIENTOS DE DIAGNOSTICO Y TRATAMIENTO NOMENCLATURA Y CLASIFICACION
                    
                    .jumbotron.bg-color-4.mt-5 

                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 74. Fijar como actividades y procedimientos de laboratorio Clínico.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 75. Establecer como las actividades y procedimientos Anatomo-Patológicos.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 76. Establecer como actividades y procedimientos radiológicos.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 77. Establecer como actividades, intervenciones y procedimientos de Medicina Nuclear.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 78. Establecer como actividades, intervenciones y procedimientos de Nefrología y Urología.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 79. Establecer como actividades, intervenciones y procedimientos de Neumología.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 80. Establecer como actividades, intervenciones y procedimientos de Cardiología y Hemodinamia.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 81. Establecer como actividades, intervenciones y procedimientos de Neurología.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 82. Establecer como actividades, intervenciones y procedimientos de Otorrinolaringología.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 83. Establecer como actividades, intervenciones y procedimientos de Oftalmología.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 84. Establecer como actividades, intervenciones y procedimientos de Medicina Física y Rehabilitación.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 85. Establecer como actividades, intervenciones y procedimientos de Banco de Sangre.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 86. Establecer como actividades, intervenciones y procedimientos Ecográficos, Vasculares no Invasivos y Resonancia Magnética.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 87. Establecer como actividades, intervenciones y procedimientos de Oncología.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 88. Establecer como actividades, intervenciones y procedimientos en Psiquiatría y Psicología.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 89. Establecer como actividades, intervenciones y procedimientos de Salud Oral.
                        .list.ml-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p ARTICULO 90. Establecer como otras actividades, intervenciones y procedimientos Diagnóstico y Terapéuticos.

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img2.svg").img-fluid
            .col
                h3 LIBRO II.
        .row.mt-5
            .col-3
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                    a#v-pills-home-tab.nav-link.active(data-toggle='pill', href='#v-pills-1', role='tab', aria-controls='v-pills-1', aria-selected='true') Capitulo I 
                    a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-2', role='tab', aria-controls='v-pills-2', aria-selected='false') Titulo I 
                    a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-3', role='tab', aria-controls='v-pills-3', aria-selected='false') Titulo II 
                    a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-4', role='tab', aria-controls='v-pills-4', aria-selected='false') Titulo III 
                    a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-5', role='tab', aria-controls='v-pills-5', aria-selected='false') Titulo V 

            .col-9
                #v-pills-tabContent.tab-content
                    #v-pills-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-1-tab')
                        .sub-ecored
                            H3 CAPITULO I. PLAN OBLIGATORIO DE SALUD, POS - NIVELES DE COMPLEJIDAD. 
                        .jumbotron.bg-color-3.mt-5
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 91. Definición.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 92. De las responsabilidades. 
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 93. Remisión. 
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 94. Interconsulta.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 95. Asesoría.

                    #v-pills-2.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-2-tab')
                        .sub-ecored
                            H3 TITULO I. DESARROLLO PLAN OBLIGATORIO DE SALUD, POS, PARA EL NIVEL I DE COMPLEJIDAD.
 
                        .jumbotron.bg-color-4
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 96. POS, para el nivel i. de complejidad.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 97. Consulta médica general.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 98. Atención odontológica.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 99. Laboratorio clínico.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 100. Radiología. Imagenología.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 101. Medicamentos.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 102. Acciones intra y extramurales de promoción, prevención y control.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 103. Atención obstétrica.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 104: Atención no quirúrgica ni obstétrica.


                    #v-pills-3.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-3-tab')
                        .sub-ecored
                            H3 TITULO II. DESARROLLO DEL PLAN OBLIGATORIO DE SALUD PARA EL NIVEL II DE COMPLEJIDAD.
  
                        .jumbotron.bg-color-3
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 105. Atención ambulatoria especializada.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 106. Laboratorio clínico.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 107. Radiología.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 108. Otros medios diagnósticos.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 109. Otros procedimientos diagnósticos y/o terapéuticos.


                    #v-pills-4.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-4-tab')
                        .sub-ecored
                            H3 TITULO III. DESARROLLO DE PLAN OBLIGATORIO DE SALUD PARA EL NIVEL III DE COMPLEJIDAD.  
                        .jumbotron.bg-color-4
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 110. condiciones de acceso a los servicios.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 111. consulta especializada (idem nivel II).
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 112. laboratorio clínico.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 113. Radiología. 
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 114. exámenes especiales.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 115. otros procedimientos diagnósticos y/o terapéuticos.
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 116. clasificación por niveles de complejidad medico quirúrgica.

                    #v-pills-5.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-5-tab')
                        .sub-ecored
                            H3 TITULO IV. DESARROLLO DEL PLAN OBLIGATORIO DE SALUD PARA EL NIVEL IV. ATENCION DE PATOLOGÍAS DE TIPO CATASTRÓFICO. 
  
                        .jumbotron.bg-color-3
                            .list.ml-2
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt
                                    p ARTICULO 117. patologías de tipo catastrófico. (Ministerio de Salud , 1994)
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img1.svg").img-fluid 
        section.mt-5
            a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/RESOLUCI%C3%93N%205261%20DE%201994.pdf" target="_blank").media-link.bg-media-link      

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Enlace de la normatividad 