.container
    .header-ecored
        h1 2. Resolución 537 de 2020 y sus anexos. Se modifica la resolución 3495 de 2019 clasificación única de procedimientos en salud-CUPS.
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img4.svg").img-fluid  
        p.mt-5 Resolución 3495 de 2019 Por la cual se establece la Clasificación Única de Procedimientos en Salud – CUPS. Corresponde al ordenamiento lógico y detallado de los procedimientos en salud que se realizan en el país, en cumplimiento de los principios de interoperabilidad y estandarización de datos utilizando para tal efecto la identificación por un código y una descripción validada por los expertos del país, independientemente de la profesión o disciplina del sector salud que los realice, así como del ámbito de realización de estos.
        p La Clasificación Única de Procedimientos en Salud - CUPS, se encuentra integrada por la lista tabular, los códigos especiales para reporte población indígena y los códigos para el reporte de otras prestaciones en salud, según los anexos técnicos que hacen parte integral del presente acto administrativo. (Ministerio de Salud y Protección Social, 2019)

        .sub-ecored-teme.mt-5
            h3 Anexo técnico 1.
        .jumbotron.bg-color-4
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    p Manual de uso.     

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    p Glosario. 

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    p Lista tabular.  
            p La Lista Tabular consta de cuatro secciones, identificadas de la siguiente manera:             

            .list.ml-2
                .list__item__number
                        span a
                .list__txt
                    p.top Sección 00: Procedimientos quirúrgicos.             

            .list.ml-2
                .list__item__number
                        span b
                .list__txt
                    p.top Sección 01: Procedimientos no quirúrgicos.
                                        

            .list.ml-2
                .list__item__number
                        span c
                .list__txt
                    p.top Sección 02: Procedimientos e intervenciones sobre la comunidad, su entorno y salud.
                                                            
            .list.ml-4
                .list__item__number
                        span 1
                .list__txt
                    p.top Estructura del código.

            .list.ml-4
                .list__item__number
                        span 2
                .list__txt
                    p.mb-0.top Convenciones usadas en la Lista Tabular.
            p 
            
            .list.ml-2
                .list__item__number
                        span d
                .list__txt
                    p.top Sección 03: Procedimientos quirúrgicos.
            
            .list.ml-2
                .list__item__number
                        span e
                .list__txt
                    p.top Sección 04: Procedimientos quirúrgicos.

        .sub-ecored-teme.mt-5
            h3 Anexo técnico 2.
        .jumbotron.bg-color-4  
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    p.mb-0 Lista tabular. 
        .sub-ecored-teme.mt-5
            h3 Anexo técnico 3.
        .jumbotron.bg-color-4
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    p.mb-0 Códigos especia/es para reporte población indígena. 
        .sub-ecored-teme.mt-5
            h3 Anexo técnico 4.
        .jumbotron.bg-color-4 
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    p.mb-0 Códigos para e/ reporte de otras prestaciones en salud. (Ministeerio de Salud y proteccion social , 2019)                                         

        .row.justify-content-center.align-items-center
            .col-12.col-md-5
                section
                    a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Forms/DispForm.aspx?ID=5838" target="_blank").media-link.bg-media-link      

                        img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                        .media-link-title.ml-4
                            p Resolución 3495 de 2019
            .col-12.col-md-5
                section
                    a(href="https://www.minsalud.gov.co/RID/resolucion-537-de-2020.pdf" target="_blank").media-link.bg-media-link      

                        img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                        .media-link-title.ml-4
                            p Resolución 537 de 2020