.container
    .header-ecored
        h1 4. Terminología medicoquirúrguica. 
    .jumbotron.bg-white
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img7.svg").img-fluid       
        p Teniendo apropiados todos los conceptos de la normatividad, empezaremos a utilizar la terminología médica. Ya que en el entorno como apoyos administrativos en salud haremos uso de nuevo vocabulario en nuestras conversaciones y desempeño laboral. Es necesario que estudiemos y conozcamos este lenguaje. Por lo que es de suma importancia que usted aprenda los términos más comunes en cirugía y cómo se forman con base en prefijos, sufijos y raíces. A continuación, usted puede ingresar los siguientes enlaces para estudiarlos. 

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-5
                section
                    a(href="https://colon15.com/prefijos-y-sufijos-en-la-terminologia-medica" target="_blank").media-link.bg-media-link      

                        img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                        .media-link-title.ml-4
                            p Prefijos y sufijos en la terminología médica
            .col-12.col-md-5
                section
                    a(href="https://accessmedicina.mhmedical.com/content.aspx?bookid=1466&sectionid=101743239" target="_blank").media-link.bg-media-link      

                        img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                        .media-link-title.ml-4
                            p Apéndice I: Terminología medico quirúrgica.   

        p.mt-5 Daremos un recorrido por la anatomía humana. A continuación, puede visualizar los siguientes videos relacionados con: 

        .sub-ecored-teme.mt-5
            h3 Introducción a la anatomía humana 
 
        .row.mt-5
            .col
                .card        
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/TuypxourgMU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p ¡INTRODUCCIÓN A LA ANATOMÍA HUMANA! | TEMAS A TRATAR:
                        p Definición y Clasificación de la Anatomía
                        p Posición Anatómica de Referencia

        .sub-ecored-teme.mt-5
            h3 Terminología anatómica resúmenes de anatomía y fisiología.   

        .row.mt-5
            .col
                .card        
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/vpW8nGPLlqI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p TERMINOLOGÍA ANATÓMICA | Resúmenes de Anatomía y Fisiología