.container
    .header-ecored
        h1 7. Redes Integrales de prestadores de servicios de salud Lineamientos para el Proceso de Conformación, Organización, Gestión, Seguimiento y Evaluación.
    .jumbotron.bg-white
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img17.svg").img-fluid 
        p A continuación realizaremos un recordéris de Las Redes Integrales de Prestadores de Servicios de Salud que se define como el conjunto articulado de prestadores de servicios de salud u organizaciones funcionales de servicios de salud, públicos y privados; ubicados en un ámbito territorial definido de acuerdo con las condiciones de operación del MIAS, con una organización funcional que comprende un componente primario y un componente complementario; bajo los principios de disponibilidad, aceptabilidad, accesibilidad y calidad al igual que los mecanismos requeridos para la operación y gestión de la prestación de servicios de salud, con el fin de garantizar el acceso y la atención oportuna, continua, integral, resolutiva a la población, contando con los recursos humanos, técnicos, financieros y físicos para garantizar la gestión adecuada de la atención, así como de los resultados en salud. (Ministerio de salud, 2016)

        .header-arrow.py-4.my-5
            h3.text-center En el siguiente documento Redes Integrales de prestadores de servicios de salud Lineamientos para el Proceso de Conformación, Organización, Gestión, Seguimiento y Evaluación encontrara temas relacionados con:        
  
        .jumbotron.bg-color-3.mt-5
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    h3 Capítulo 1
                    p.mb-0 Redes Integrales de Prestadores de Servicios de Salud.
        .jumbotron.bg-color-3.mt-5
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    h3 Capítulo 2 
                    p.mb-0 Conformación y Organización de las Redes Integrales de Prestadores de Servicios de Salud.
        .jumbotron.bg-color-3.mt-5
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    h3 Capítulo 3
                    p.mb-0 Habilitación de las Redes integrales de prestadores de servicios de salud.
        .jumbotron.bg-color-3.mt-5
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    h3 Capítulo 4
                    p.mb-0 Seguimiento y Evaluación de las Redes integrales de prestadores de servicios de salud.
        .jumbotron.bg-color-3.mt-5
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt
                    h3 Capítulo 5
                    p.mb-0 Alcances de la Metodología desde las Fuentes de Información.
        section
            a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PSA/Redes-Integrales-prestadores-servicios-salud.pdf" target="_blank").media-link.bg-media-link      

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Enlace de la normatividad                     
                              