include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Bizneo. (12). bizneo.com. Obtenido de Cómo definir un plan de incentivos laborales: ", "https://www.bizneo.com/blog/plan-de-incentivos-laborales/")

        +referenciaItem("Estrucplan. (22 de 07 de 2011). estrucplan.com.ar. Obtenido de ¿Qué Es El CIE 10?: ", "https://estrucplan.com.ar/que-es-el-cie10/")

        +referenciaItem("Mimnisterio de salud . (01 de 2015). minsalud.gov.co. Obtenido de Clasificación Internacional de: ", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/IA/SSA/cie10-cie11.pdf")

        +referenciaItem("Ministerio de Salud y proteccion social . (24 de 12 de 2019). asesoriayserviciosayc.com. Obtenido de Resoluicion 3495 de 2019: ", "https://asesoriayserviciosayc.com/wp-content/uploads/2020/01/CUPS-2020.pdf")

        +referenciaItem("Ministerio de Salud . (05 de 08 de 1994). minsalud.gov.co. Obtenido de RESOLUCION NUMERO 5261 DE 1994: ", "https://www.minsalud.gov.co/Normatividad_Nuevo/RESOLUCI%C3%93N%205261%20DE%201994.pdf")

        +referenciaItem("Ministerio de salud . (s.f.). minsalud.gov.co. Obtenido de Preguntas frecuentes RIPS: ", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/OT/FAQ-RIPS.pdf")
       
        +referenciaItem("Ministerio de salud. (11 de 2016). minsalud.gov.co. Obtenido de Redes Integrales de prestadores de servicios de salud. Lineamientos para el Proceso de Conformación,Organización, Gestión, Seguimiento y Evaluación: ", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PSA/Redes-Integrales-prestadores-servicios-salud.pdf")


        +referenciaItem("Ministerio de salud. (s.f.). minsalud.gov.co. Obtenido de Rutas integrales de atención en salud - RIAS: ", "https://www.minsalud.gov.co/salud/publica/ssr/Paginas/Rutas-integrales-de-atencion-en-salud-RIAS.aspx")


        +referenciaItem("Organización panamericana de la salud . (s.f.). paho.org. Obtenido de Redes Integradas de Servicios de Salud: ", "https://www.paho.org/hq/index.php?option=com_content&view=article&id=4305:2008-redes-integradas-servicios-salud&Itemid=3553&lang=es")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            